body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: #e60023; /* Pinterest red */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
